/* Tablet and bigger */

/** Divider */
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
    h3{
        padding-left: 20px;
    }

/** Informacion Personal */
.action-button {
    float: right;
}

.information{
    background-color: #FFF;
    border-radius: 10px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:1px;
    height: 440px;
    
}

.category{
    margin-top: 5px;
}


.btn{
    background-color: transparent;
    box-shadow: none;
    border-color: 
}

.info{

}

.fmt-date{
     width: 10px;
}


#form-col1{
    margin-top:0px;
    text-align:left;
    float:left;
    margin-right:6px;
    min-width: 100px;
}
#form-col2{
    margin-top:0px;
    margin-bottom: 0px;
    text-align:left;
    text-indent: 100px;
}

.name-address{
    text-align: left;
    font-weight: bold;
}
.field-name{
    min-height:32px;
    vertical-align:middle; 
}