
body {
	background-color: #ecf0f1;
}

nav .glyphicon-shopping-cart,
nav .glyphicon-heart,
nav .glyphicon-user
 {
	font-size: 30px;
	margin-top:4px;
	/*color:white;*/

}
nav .user-name{
	font-size: 2em;
	margin-right: 10px;
	margin-bottom: 5px;
}
/*
.navbar-nav>li>a{
	padding-top: 15px;
	padding-bottom: 0px;

}*/


.headerDivider {
     border-left:1px solid #38546d; 
     border-right:1px solid #36424c;
     margin-top: 5px; 
     height:40px;
}


