
body {
	background-color: #ecf0f1;
	font-family: 'Ubuntu', sans-serif;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
  height: 155px; /* '.push' must be the same height as 'footer' */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
nav .glyphicon-shopping-cart,
nav .glyphicon-heart,
nav .glyphicon-user,
nav .glyphicon-remove
 {
	font-size: 30px;
	display: table-cell;
	vertical-align: middle;
	/*color:white;*/

}
nav .user-name{
	font-size: 1.5em;
	padding-right: 10px;
	padding-left: 10px;
	display: table-cell;
	vertical-align: middle;
}
/*
.navbar-nav>li>a{
	padding-top: 15px;
	padding-bottom: 0px;

}*/


.headerDivider {
     border-left:1px solid #38546d; 
     border-right:1px solid #36424c;
     margin-top: 5px; 
     height:40px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

div .loading-block{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}
div .loading-image{
	margin-left: 12px;
	margin-top: 12px;
}

.img-disabled{
    opacity: 0.5 !important;    
}
img:disabled{
    opacity: 0.5 !important;       
}
img[disabled]{
    opacity: 0.5 !important;       
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.cssFade {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}

.required-warning{
	color:red;
	font-style: italic;

}