
body {
	background-color: #ecf0f1;
}

nav .glyphicon-shopping-cart,
nav .glyphicon-heart,
nav .glyphicon-user
 {
	font-size: 30px;

	/*color:white;*/

}

.navbar-nav>li>a{
	padding-top: 15px;
	padding-bottom: 0px;

}
