.caption {
    height: 130px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
.color-blue{
	background-color: blue;
	display: inline-block;
    border-radius: 5px;
	width:25px;
	height: 25px;
}
.color-red{
	background-color: red;
	display: inline-block;
    border-radius: 5px;
	width:25px;
	height: 25px;
	
}

