.linea{
  border-bottom: 1px solid #000;
}
body {
  padding-top: 50px;
}

.paginacion{
  width: 80px;
  height: 30px;
}
.bloque{
  display: inline-block;
}

.pagi{
  width: 70%;
}
.barra{
  padding-bottom: 20px;
}
.cant{
  width: 20%;
  position: absolute;
    right: 0px;
}
.selector{
  margin-left: 20px;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.filterApli{
  background: #D3D3D3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    margin: 4px 0 0;
    padding: 3px 6px;
    position: relative;
    text-shadow: 0 1px 1px #fff;
}
.navbar-fixed-top {
  border: 0;
}

.applied-fliter{
  font-size: 12px;
  color: inherit;
  font: inherit;
  margin: 0;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding:0px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.filtros{
  margin-right: 60%;
  margin-top: 8px;
}

.cantidadDeOrdenamiento{
  width: 58px;
  margin-bottom: 10px;
  margin-right: 0px;
  padding:0px;

}

#divOrd{
  width: 58px;

}

.letra{

}

.pagination{
  margin: 0 auto;
  padding-left: 40%;
}

h5{
  margin : 2px auto;
  padding-left: 5px;
}

.titulo{
  font-size: 16px;
}

.box-color{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 3px 0 3px 0;
}

.box_92025, .box_82058 {
    background-color: #000;
}

.ch-hide {
    display: none;
}
.box_92028, .box_82061 {
    background-color: #FFF;
}

.box_92027, .box_82060 {
    background-color: #666;
}

.variation-filter dd {
    display: inline-block;
    margin: 0 -5px 3px 5px;
    width: 40px;
}

.box_91993, .box_82026 {
    background-color: #F00;
}

.box_91994, .box_82027 {
    background-color: #F4CCCC;
}

.box_92013, .box_82046 {
    background-color: #1717FF;
}

.box_92002, .box_82035 {
    background-color: #FFF2CC;
}

.box_92021, .box_82054 {
    background-color: #E828FF;
}

.box_92000, .box_82033 {
    background-color: #B45F06;
}

.box_91998, .box_82031 {
    background-color: #FCE5CD;
}

.box_92005, .box_82038 {
    background-color: #0C9800;
}

.box_91997, .box_82030 {
    background-color: #F90;
}

.box_92026, .box_82059 {
    background-color: #CCC;
}

.box_92016, .box_82049 {
    background-color: #0B5394;
}

.variation-filter dd a {
    display: block;
    height: 24px;
    width: 24px;
    background: #fff;
    border: 1px solid #ededed;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
    line-height: 24px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 11px;
}
