<div class="modal-body">
	<div class="category">
		<label >Identificador de Dirección
			<input name="name" class="form-control" type="text" placehoder="ej: Casa" id="name" ng-model="IdName" enabled>										
		</label>
	</div>
	<div class="category">
		<label >Dirección
			<span><input name="address" class="form-control" placeholder="Dirección" id="street"  ng-model="street" enabled></span>
			<span><input name="number" class="form-control" placeholder="Numero" id="number"  ng-model="number"enabled></span>
			<input name="piso" class="form-control" placeholder="Piso" id="floor" ng-model="floor" enabled>
			<input name="dpto" class="form-control" placeholder="Departamento" ng-model="dpto" id="dpto" enabled>
		</label>
	</div>	
	<div class="category"> 
		<label >Provincia</label> 
		<select name="Province" ng-model="province">  <!-- hacerlo con ng-repeat -->
			<option>  - Provincia -  </option>
			<option value="Buenos Aires">Buenos Aires</option>
			<option value="Catamarca">Catamarca</option>
			<option value="Chaco">Chaco</option>
			<option value="Chubut">Chubut</option>
			<option value="Cordoba">Córdoba</option>
			<option value="Corrientes">Corrientes</option>
			<option value="Entre Ríos">Entre Ríos</option>
			<option value="Formosa">Formosa</option>
			<option value="Jujuy">Jujuy</option>
			<option value="La Pampa">La Pampa</option>
			<option value="La Rioja">La Rioja</option>
			<option value="Mendoza">Mendoza</option>
			<option value="Misiones">Misiones</option>
			<option value="Neuquén">Neuquén</option>
			<option value="Río Negro">Río Negro</option>
			<option value="Salta">Salta</option>
			<option value="San Juan">San Juan</option>
			<option value="San Luis">San Luis</option>
			<option value="Santa Cruz">Santa Cruz</option>
			<option value="Santa Fe">Santa Fe</option>
			<option value="Santiago del Estero">Santiago del Estero</option>
			<option value="Tierra del Fuego">Tierra del Fuego</option>
			<option value="Tucumán">Tucumán</option>
		</select>
	</div>													
	<div class="category">
		<label >Ciudad
			<input name="city" class="form-control" placeholder="Ciudad" id="city" ng-model="city" disabled>
		</label>
	</div>
	<div class="category">
		<label >Código Postal
			<input name="postalCode" class="form-control" placeholder="ej: 1640" id="postalCode" ng-model="postalCode" enabled>
		</label>
	</div>

	<div class="category">
		<label >Teléfono
			<input name="telephone" class="form-control" placeholder="ej 1111-1111" id="telephone" ng-model="telephone" enabled>
		</label>
	</div>
</div>