<div class="modal-body">
	<h3 class="required-warning" ng-hide="!errorCard"  class="cssFade"> Esa tarjeta ya esta registrada </h3>
	<h4 class="required-warning"> Todos los campos con * son obligatorios</h4>
	<div class="category">
		<img ng-disabled="selectedCard !== 'Visa' "  src="images/visa.png">
		<img ng-disabled="selectedCard !== 'Master' " src="images/master.png">
		<img ng-disabled="selectedCard !== 'Diners' " src="images/diners.png">
		<img ng-disabled="selectedCard !== 'Amex' " src="images/amex.png">
	</div>												
	<div class="category">
		<label >Número*
			<input name="number" class="form-control" placeholder="ej: 1234456778901234" id="cardNumber"  ng-model="cardNumber" enabled>
		</label>
	</div>									
	<div class="category">
		<label >Fecha de Vencimiento*
			<input name="expirationDate" class="form-control" placeholder="ej: 0101" id="expirationDate" ng-model="expirationDate" enabled>
		</label>
	</div>						
	<div class="category">
		<label >Código de Seguridad*
			<input name="securityCode" class="form-control" placeholder="ej: 123" id="securityCode" ng-model="securityCode" enabled>
		</label>
	</div>
</div>