<div class="modal-body" >
	<div class="category">
		<label >Identificador de Dirección
			<input name="name" class="form-control" type="text" placehoder="ej: Casa" id="name" ng-model="IdName" enabled>										
		</label>
	</div>
	<div class="category">
		<label >Dirección
			<span><input name="address" class="form-control" placeholder="Dirección" id="street"  ng-model="street" enabled></span>
			<span><input name="number" class="form-control" placeholder="Numero" id="number"  ng-model="number" enabled></span>
			<input name="piso" class="form-control" placeholder="Piso" id="floor" ng-model="floor" enabled>
			<input name="dpto" class="form-control" placeholder="Departamento" ng-model="dpto" id="dpto" enabled>
		</label>
	</div>	
	<div class="category"> 
		<label >Provincia</label> 
		<select name="Province" ng-model="province">  <!-- hacerlo con ng-repeat -->
			<option ng-repeat="state in CuentaCtrl.states track by $index" ng-value="state.stateId">{{state.name}}</option>
		</select>
	</div>													
	<div class="category">
		<label >Ciudad
			<input name="city" class="form-control" placeholder="Ciudad" id="city" ng-model="city" ng-disabled="province === 'C'">
		</label>
	</div>
	<div class="category">
		<label >Código Postal
			<input name="postalCode" class="form-control" placeholder="ej: 1640" id="postalCode" ng-model="postalCode" enabled>
		</label>
	</div>

	<div class="category">
		<label >Teléfono
			<input name="telephone" class="form-control" placeholder="ej 1111-1111" id="telephone" ng-model="telephone" enabled>
		</label>
	</div>
</div>