	<div ng-app="Carrito" ng-controller="CarritoController as CarritoCtrl">
		<div class="container-fluid">
		<div class="loading-block" ng-show="loading">
        	<div class="loading-image" >
          		<img id="mySpinner" src="http://i.stack.imgur.com/MnyxU.gif"  />
        	</div>
      	</div>
			<div class="info infoblock col-md-4" ng-hide="emptyCart || loading">
				<div class="product-summary">
					<h5 ng-repeat="producto in productos">{{producto.product.name}}<strong class="pull-right">{{producto.price *selected[producto.id] | currency}}</strong></h5>
				</div>
				<hr class="divider"/>
				<h3>Total <strong class="pull-right">{{total | currency}}</strong></h3>
				<hr class="divider"/>
				<a href="index.html"><button type="button" class="btn btn-default" >
					<span class="glyphicon glyphicon-shopping-cart"></span> Seguir comprando
				</button></a>
				<button type="button" class="btn btn-success next-step" ng-disabled="emptyCart" ng-click="CarritoCtrl.updateAmounts();CompraCtrl.nextStep()">
					Pagar<span class="glyphicon glyphicon-play"></span>
				</button>
			</div>
		</div>

		<div class="container-fluid">
			<h1 class="col-sm-offset-2">Mi Carrito</h1>
			<div class="row">
				<div class="col-sm-12 col-md-8 col-sm-offset-0" style="padding-top: 50px">
				<h1 ng-show="emptyCart" style="text-align:center"> No hay productos en el carrito</h1>
					<table class="table table-hover" ng-hide="emptyCart">
						<thead>
							<tr>
								<th>Foto</th>
								<th>Producto</th>
								<th class="text-center">Precio</th>
								<th class="text-center">Total</th>
								<th class="text-center">Cantidad</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="producto in productos track by $index" ng-hide="loading">
								<td class="col-sm-2">
									<span> <a class="thumbnail pull-left" ng-attr-href="{{'producto.html?id=' + producto.product.id}}"> <img class="media-object" ng-attr-src="{{producto.product.imageUrl}}" style="width: 72px; height: 72px;"> </a> </span>
								</td>
								<td>
									<h3 style="margin-top:0">{{producto.product.name}}</h3>
								</td>
								<td class="col-sm-1 col-md-1 text-center"><strong>{{producto.price | currency}}</strong></td>
								<td class="col-sm-1 col-md-1 text-center"><strong>{{producto.price*selected[producto.id] | currency}}</strong></td>
								<td class="col-sm-1 col-md-2" style="text-align: center">
									<div class="input-group">
										<span class="input-group-btn">
											<button style="padding:2px" type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="" ng-click="CarritoCtrl.add(-1,producto.id,producto.product.id)">
												<span class="glyphicon glyphicon-minus"></span>
											</button>
										</span>
										<input type="text" name="" class="form-control input-number" ng-model="selected[producto.id]" min="1" max="100" ng-change="CarritoCtrl.write(producto.id,producto.product.id)" style="text-align:center">
										<span class="input-group-btn">
											<button style="padding:2px" type="button" class="btn btn-success btn-number" data-type="plus" data-field="" ng-click="CarritoCtrl.add(1,producto.id,producto.product.id)">
												<span class="glyphicon glyphicon-plus" ></span>
											</button>
										</span>
									</div>
									<br>
									<button type="button" class="btn btn-danger btn-rmv" ng-click="CarritoCtrl.removeProduct(producto.id,$index)">
										<span class="glyphicon glyphicon-remove"></span> Eliminar
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>