<!DOCTYPE html>
<html ng-app="Cuenta">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mi cuenta</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="images/muffin.png">
	<link rel="stylesheet" type="text/css" href="css/general.css">
	<!--<link rel="stylesheet" type="text/css" href="css/cuenta.css">-->
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="CuentaController as CuentaCtrl">
	<nav-bar></nav-bar>
	<div class="container">
		<div class="loading-block" ng-show="loadingUC || loadingAO || loadingO || loadingRC || loadingLC || loadingRA || loadingUA || loadingSA || loadingA || loadingU || updatePW">
			<div class="loading-image" >
				<img id="mySpinner" src="http://i.stack.imgur.com/MnyxU.gif"  />
			</div>
		</div>
		<div class="page-header">
			<h3>Mi Cuenta</h3>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Nav tabs -->
					<div class="card">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Información Personal</a></li>
							<li role="presentation"><a href="#direcciones" aria-controls="direcciones" role="tab" data-toggle="tab">Direcciones</a></li>
							<li role="presentation"><a href="#tarjetas" aria-controls="tarjetas" role="tab" data-toggle="tab">Tarjetas de Crédito</a></li>
							<li role="presentation"><a href="#compras" aria-controls="compras" role="tab" data-toggle="tab">Historial de Compra</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="info">
								<div id="form-reg">
									<div id="form-col1" class="col-sm-2">
										<form id="form1">
											<br><br>
											<p class="field-name">Nombre: </p>
											<p class="field-name">Apellido: </p>
											<p class="field-name">Email: </p>
											<p class="field-name">DNI:
												<p class="field-name">Fecha de Nacimiento: </p>
												<p class="field-name">Genero: </p>
											</form>
										</div>
										<div id="form-col2">
											<form id="form2" ng-cloak>
												<br><br>
												<p class="field-name info">{{user.firstName | capitalize}}</p>
												<p class="field-name info">{{user.lastName | capitalize}}</p>
												<p class="field-name info">{{user.email}}</p>
												<p class="field-name info">{{user.identityCard}}</p>
												<p class="field-name info">{{CuentaCtrl.DOB[2] +' / ' + CuentaCtrl.DOB[1] + ' / ' + CuentaCtrl.DOB[0] }}</p>
												<p class="field-name info">{{(user.gender == 'F')?'Femenino':'Masculino'}}</p>
												<br><br>
											</form>
										</div>
									</div>
									<button id="modify-1" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modifyAccountModal" ng-click="CuentaCtrl.saveState(user)">
										<span class="glyphicon glyphicon-edit"></span> Modificar información
									</button> 
									<div class="modal fade" data-backdrop="static" id="modifyAccountModal">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
													<h4 class="modal-title">Modificar cuenta</h4>
												</div>
												<modify-account></modify-account>
												<div class="modal-footer">
													<button id="save-address-btn" type="button" ng-disabled="!CuentaCtrl.isValid(user)"class="btn btn-success apply" ng-click="CuentaCtrl.updateAccount(user)" data-dismiss="modal" hidden>
														<span class="glyphicon glyphicon-ok"></span> Guardar
													</button>
													<button id="cancel-btn" type="button" ng-click="CuentaCtrl.descartar(user)"class="btn btn-danger apply" data-dismiss="modal" hidden >
														<span class="glyphicon glyphicon-remove"></span> Descartar
													</button>		
												</div>
											</div><!-- /.modal-content -->
										</div><!-- /.modal-dialog -->
									</div><!-- /.modal -->
									<button id="modify-pass" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modifyPassModal">
										<span class="glyphicon glyphicon-edit"></span> Modificar contraseña
									</button>
									<div class="modal fade" data-backdrop="static" id="modifyPassModal">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
													</button>
													<h4 class="modal-title">Modificar contraseña</h4>
												</div>
												<modify-password></modify-password>
												<div class="modal-footer">
													<button id="save-pass-btn" type="button" class="btn btn-success apply" ng-click="updatePass()" data-dismiss="modal" ng-disabled="!CuentaCtrl.isValidPass()" hidden>
														<span class="glyphicon glyphicon-ok"></span> Guardar
													</button>
													<button id="cancel-btn" type="button" class="btn btn-danger apply" data-dismiss="modal"hidden >
														<span class="glyphicon glyphicon-remove"></span> Descartar
													</button>		
												</div>
											</div><!-- /.modal-content -->
										</div><!-- /.modal-dialog -->
									</div><!-- /.modal -->
								</div>
								<div role="tabpanel" class="tab-pane" id="direcciones">
									<div class="col-padding">
										<div id="form-reg">
											<h2 ng-show="isAddress()">No hay Direcciones</h2>
											<div class="row" style="margin-top:20px;margin-bottom:20px;margin-left:40%;margin-right:50%">
												<button id="add-direction" type="button" class="btn btn-info" data-toggle="modal" data-target="#addAddressModal">
													<span class="glyphicon glyphicon-plus"></span> Agregar dirección de envío
												</button> 
											</div>
											<div ng-repeat="direccion in direcciones" class="well col-sm-4" id="form-col1">
												<form ng-attr-id="{{'Direccion'+ direccion.id}}" ng-cloak>
													<h4 class="field-name name-address">{{direccion.name}}</h4>
													<p class="field-name info">{{direccion.street +' ' + direccion.number}}{{(direccion.floor === null)?"":', Piso '+ direccion.floor}}{{(direccion.gate === null)?"":" Departamento " + direccion.gate}}</p>
													<p class="field-name info">{{ (direccion.city===null)?"":direccion.city+', '}} {{dirId[direccion.id]}} {{', Argentina' }}</p>
												</form>
												<div class="col-sm-10 col-sm-offset-1">
												<button ng-attr-id="{{modificar + direccion.id}}" type="button" class="btn btn-primary" data-toggle="modal" ng-click="CuentaCtrl.editAddress(direccion.id)" data-target="#modifyAddressModal">
													<span class="glyphicon glyphicon-edit"></span> Modificar
												</button>
												<button  type="button" class="btn btn-danger" ng-click="CuentaCtrl.removeAddress(direccion.id)" >
													<span class="glyphicon glyphicon-remove"></span> Eliminar
												</button>	 
												</div>
											</div>
											<div class="modal fade" data-backdrop="static" id="addAddressModal">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

															<h4 class="modal-title">Agregar dirección de envio</h4>
														</div>
														<add-address></add-address>
														<div class="modal-footer">
															<button id="save-account-btn" type="button" class="btn btn-success apply" ng-click="saveAddress()" ng-disabled="!CuentaCtrl.isValidAddress()" data-dismiss="modal" hidden>
																<span class="glyphicon glyphicon-ok"></span> Guardar
															</button>
															<button id="cancel-btn" type="button" class="btn btn-danger apply" data-dismiss="modal" hidden >
																<span class="glyphicon glyphicon-remove"></span> Descartar
															</button>		
														</div>
													</div>
												</div>
											</div>
											<div class="modal fade" data-backdrop="static" id="modifyAddressModal">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
															<h4 class="modal-title">Modificar Direccion de Envio</h4>
														</div>
														<add-address></add-address>
														<div class="modal-footer">
															<button id="change-address-btn" type="button" class="btn btn-success apply"  ng-click="updateAddress()" ng-disabled="!CuentaCtrl.isValidAddress()" data-dismiss="modal" hidden>
																<span class="glyphicon glyphicon-ok"></span> Guardar
															</button>
															<button id="cancel-btn" type="button" class="btn btn-danger apply" data-dismiss="modal" hidden >
																<span class="glyphicon glyphicon-remove"></span> Descartar
															</button>		
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="tarjetas">
									<h2 ng-show="isCard()">No hay Tarjetas</h2>		
									<div class="row" style="margin-top:20px;margin-bottom:20px;margin-left:40%;margin-right:50%">
										<button id="add-card" type="button" class="btn btn-info" data-toggle="modal" data-target="#addCardModal">
											<span class="glyphicon glyphicon-plus"></span> Agregar tarjeta
										</button> 
									</div>			
									<div ng-repeat="tarjeta in tarjetas" class="well well-sm col-md-4 col-sm-12" id="form-col1">
									<p align="center" class="col-sm-12"><img ng-src="{{getCardImage(tarjeta.number)}}"></p>
										<div id="form-col1" class="col-md-6">
											<form id="form1">
												<p class="field-name">Número de Tarjeta: </p>
												<p class="field-name">Fecha de Vencimiento: </p>
												<!--<p class="field-name">Código de Seguridad: </p>-->
											</form>
										</div>
										<form ng-attr-id="{{'Tarjeta'+ tarjeta.id}}" class="col-md-6" ng-cloak>
											<p class="field-name">{{ tarjeta.number | tarjeta}}</p>
											<p class="field-name">{{tarjeta.expirationDate | fecha }}</p>
											<!-- Mostrar el codigo de seguridad esta muuuy mal <p class="field-name">{{tarjeta.securityCode}} </p> -->
										</form>
										<div class="row">
											<div class="col-sm-8 col-sm-offset-2">
												<button id="add-card" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editCardModal">
													<span class="glyphicon glyphicon-edit"></span> Modificar
												</button>
												<button  type="button" class="btn btn-danger" ng-click="CuentaCtrl.removeCard(tarjeta.id)" >
													<span class="glyphicon glyphicon-remove"></span> Eliminar
												</button> 
											</div>
										</div>
									</div>
									<div class="modal fade" data-backdrop="static" id="addCardModal">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" ng-click="errorCard = false" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

													<h4 class="modal-title">Agregar tarjeta</h4>
												</div>

												<add-creditCard></add-creditCard>
												<div class="modal-footer">
													<button id="add-card-btn" type="button" class="btn btn-success apply" ng-click="saveCard()" ng-disabled="!CuentaCtrl.isValidCard()" hidden>
														<span class="glyphicon glyphicon-ok"></span> Guardar
													</button>
													<button id="cancel-btn" type="button" class="btn btn-danger apply" ng-click="errorCard = false" data-dismiss="modal" hidden >
														<span class="glyphicon glyphicon-remove"></span> Descartar
													</button>		
												</div>
											</div>
										</div>
									</div>
									<div class="modal fade" data-backdrop="static" id="editCardModal">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													<h4 class="modal-title">Modificar Tarjeta</h4>
												</div>
												<add-creditCard></add-creditCard>
												<div class="modal-footer">
													<button id="add-card-btn" type="button" class="btn btn-success apply" ng-click="CuentaCtrl.updateCard(tarjeta)" ng-disabled="!CuentaCtrl.isValidCard()" data-dismiss="modal" hidden>
														<span class="glyphicon glyphicon-ok"></span> Guardar
													</button>
													<button id="cancel-btn" type="button" class="btn btn-danger apply" data-dismiss="modal" hidden >
														<span class="glyphicon glyphicon-remove"></span> Descartar
													</button>		
												</div>
											</div>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="compras">
									<br>
									<br>
									<h2 ng-show="isOrder()">No has hecho ninguna compra</h2>
									<div ng-repeat="compra in compras" ng-show="compra.status != 1" class="well well-sm col-md-4 col-sm-12" id="form-col1">
									<div class="row">
										<div id="form-col1" class="col-md-6">
											<form id="form1">
												<p class="field-name">Recibida el: </p>
												<p class="field-name" >Dirección: </p>
												<p class="field-name">{{compra.creditCard.number == null ? "Pagado en efectivo" : "Tarjeta:"}}</p>
												<br>
											</form>
										</div>
										<form ng-attr-id="{{'Orden'+ orden.id}}" ng-cloak>
											<p>{{compra.receivedDate}}</p>
											<p>{{compra.address.name}}</p>
											<p>{{compra.creditCard.number | tarjeta}}</p>
											<br>
										</form>
									</div>
									<div class="text-center">
										<button id="expand-order-btn" type="button" data-toggle="modal" data-target="#viewOrderModal" class="btn btn-default apply" ng-click="loadOrder(compra.id)" hidden> Ver detalle de compra
										</button>
									</div>
										<div class="modal fade"  id="viewOrderModal">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

													<h4 class="modal-title">Detalle de compra</h4>
												</div>
												<div class="modal-body">
													<div id="form-col1" class="col-md-6">
													<form id="form2" ng-cloak>
														<p class="field-name">Recibida el: </p>
														<p class="field-name" >Procesada el : </p>
														<p class="field-name">Fecha de entrega: </p>
														<hr>
														<p class="field-name">Total: </p>
														<p class="field-name">Cantidad de artículos: </p>
													</form>
													</div>
													<form ng-cloak>
														<p>{{compra.receivedDate}}</p>
														<p>{{compra.processedDate == null ? "El pedido todavía no fue procesado" : compra.processedDate}}</p>
														<p>{{compra.shippedDate == null ? "El pedido todavía no fue entregado" : compra.shippedDate}}</p>
														<hr>
														<p>{{orderPrice() | currency}}</p>
														<p>{{orderQty()}}</p>
													</form>
														<table class="table-striped" style="width:100%">
  															<tr>
    															<td>Producto</td>
    															<td>Precio</td>		
    															<td>Cantidad</td>
  															</tr>
															<tr ng-repeat="item in order.items">
																<td>{{item.product.name}}</td>
																<td>{{item.price | currency}}</td>
																<td>{{item.quantity}}</td>
															</tr>
														</table>
												</div>
												<div class="modal-footer">	
												</div>
											</div>
										</div>
									</div>
									</div>
								</div>
							</div> <!-- cierra tab content -->
						</div> <!-- cierra card -->
					</div> <!-- cierra col -->
				</div> <!-- cierra row -->
			</div> <!-- cierra container -->

		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
		<script type="text/javascript" src="js/cuenta.js"></script>
		<script type="text/javascript" src="js/nav.js"></script>
	</body>
	</html>