  <div class="container" ng-app="Finalizar" ng-controller="FinalizarController as FinalizarCtrl">
    <div class="loading-block" ng-show="loading || loadingO">
      <div class="loading-image" >
          <img id="mySpinner" src="http://i.stack.imgur.com/MnyxU.gif"  />
      </div>
    </div>
    <h1>Finalizar Compra</h1>
    <h3>Metodo de Pago</h3>
    <div class="radio">
      <label><input type="radio" ng-click="card = false" name="optradio">Efectivo</label>
    </div>
    <div class="radio">
      <label><input ng-click="card = true"type="radio" name="optradio">Tarjeta</label>
    </div>
    <div class="row col-sm-12" ng-show="card"> 
      <div class="well col-sm-6">
        <label >Seleccionar tarjeta</label>
          <select name="tarjetas" class="form-control" ng-model="selectedCard">
            <option ng-repeat="tarjeta in tarjetas track by $index" value="{{tarjeta.id}}"><strong>{{getCardType(tarjeta.number)}}</strong> - {{" " + tarjeta.number | tarjeta}}</option>
          </select>
      </div>   
    </div> 
    <hr>
    <div class="row col-sm-12">
      <div class="well col-sm-6">
        <h3>Dirección de Envio</h3>
          <p ng-cloak>{{direccion.name}}</p>
          <p>{{direccion.street +' ' + direccion.number}}{{(direccion.floor === null)?"":' Piso '+ direccion.floor}}{{(direccion.gate === null)?"":" Departamento " + direccion.gate}}</p>
          <p>{{ (direccion.city===null)?"":direccion.city+', '}} {{getProvince(direccion.province)}} {{', Argentina' }}</p>
      </div>
    </div>
    <hr>
    <h3>Productos</h3>
    <hr>
    <div class="row col-sm-9">
      <table class="table table-hover">
        <thead>
          <th>Foto</th>
          <th>Descripcion</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th> </th>
        </thead>

        <tbody>
          <tr ng-repeat="producto in productos">
            <td>
              <img ng-attr-src="{{producto.product.imageUrl}}" style="width: 72px; height: 72px;"/>
            </td>
            <td>
              <h4>{{producto.product.name}}</h4>
            </td>
            <td>
              <h4> {{producto.quantity}} </h4>
            </td>
            <td>
              <h4>{{producto.price | currency}}</h4>
            </td>
            <td>
              <button type="button" class="btn btn-danger" ng-click="removeItem(producto.id)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
    <div class="info infoblock col-md-4 side-bar" ng-hide="loading">
  <div class="product-summary">
    <h5 ng-repeat="producto in productos">{{producto.product.name}}<strong class="pull-right">{{producto.price | currency}}</strong></h5>
  </div>
  <hr class="divider">
  <h3>Total <strong class="pull-right">{{total | currency}}</strong></h3>
  <hr class="divider">
  <button type="button" class="btn btn-warning next-step" ng-click="FinalizarCtrl.comprar()">
    Comprar <span class="glyphicon glyphicon-usd"></span>
  </button>
</div>
</div>
