<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/general.css">
    <link rel="icon" type="image/png" href="images/muffin.png">
    <link href="css/login.css" rel="stylesheet">
    <title>Iniciar Sesion</title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>
<body ng-app="login">
  <nav-bar></nav-bar>
  <div>
    <div class="container">
        <form ng-controller="LoginController as LoginCtrl" name="login">
          <div class="page-header">
              <h3>Ingresar</h3>
          </div>
          <div class="row grid-divider"/>
          <div class="col-sm-6">
            <div class="col-padding">
              <h3>Cuenta existente:</h3>
            </div>
            <div class="form-group login-field">
                <input type="text" ng-model="loginUser" class="form-control" placeholder="Nombre de Usuario">
            </div>
            <div class="form-group login-field">
                <input type="password" ng-model="loginPass" class="form-control" placeholder="Contraseña">
            </div>
          <button type="submit" ng-click="LoginCtrl.login()" class="btn btn-primary ing-button">Ingresar</button>
        </form>
    </div>
    <div class="col-sm-6">
      <div class="col-padding" ng-controller="RegisterController as register">
        <h3>Registrarse:</h3>
        <button type="button" class="btn btn-primary" id="register-btn" ng-hide="isRegistering" ng-click="isRegistering = true">Registrarse Ahora</button>
        <button type="button" class="btn btn-danger btn-sm" ng-show="isRegistering" id="closeReg" ng-click="isRegistering = false">
          <span class="glyphicon glyphicon-remove"/>
        </button>
        <div ng-show="isRegistering" >
          <div ng-include="'register.html'" ng-animate="'fade'"></div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/nav.js"></script>
  <script src="js/login.js"></script>
</body>
</html>