<div class="modal-body">
	<form name="registro" novalidate>
		<section class="container">
			<div class="container-page">                
				<div class="col-md-6">
					<div>
						<h4 class="required-warning"> Todos los campos son obligatorios</h4>
					</div>
					<div class="form-group col-lg-6">
						<label>Nombre*</label>
						<input type="text" name="firstname" class="form-control" ng-model="user.firstName" id="firstname" value="" required>
					</div>

					<div class="form-group col-lg-6">
						<label>Apellido*</label>
						<input type="text" name="lastname" class="form-control" ng-model="user.lastName" id="lastname" value=""  required>
					</div> 
					<div class="form-group col-lg-6">
						<label>Correo Electrónico*</label>
						<input type="email" name="email" class="form-control" ng-model="user.email" id="email" value=""  required>
					</div>              
					<div class="form-group col-lg-6">
						<label>Documento de Identidad*</label>
						<input type="number" name="dni" class="form-control" ng-model="user.identityCard" id="dni" value="" integer required>
					</div>
					<div class="form-group col-lg-6">
						<div class="row">
							<label>Fecha de Nacimiento*</label>
						</div>
						<div class="row">
							<div class="col-sm-3" style="padding-left:0;padding-right:0"><input type="text" name"day" class="form-control" id="day"  placeholder="DD"  ng-change="CuentaCtrl.dayValidator()"   ng-model="CuentaCtrl.DOB[2]" required></div>
							<div class="col-sm-1"><span style="font-size:1.4em;text-align:center">/</span></div>
							<div class="col-sm-3" style="padding-left:0;padding-right:0"><input type="text" name"month" class="form-control" id="month"  placeholder="MM" ng-change="CuentaCtrl.monthValidator()" ng-model="CuentaCtrl.DOB[1]" required></div>
							<div class="col-sm-1"><span style="font-size:1.4em;text-align:center">/</span></div>
							<div class="col-sm-3"  style="padding-left:0;padding-right:0"><input type="text" name"year" class="form-control" id="year" placeholder="AAAA" ng-change="CuentaCtrl.yearValidator()" ng-model="CuentaCtrl.DOB[0]" data-toggle="popover" data-placement="top" data-content="La fecha de nacimiento debe ser mayor a 1900" required></div>
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-2">Género* </label>
						<label class="col-sm-3">
							<input type="radio" id="MRB" ng-checked='user.gender == "M"' ng-model="user.gender" name="gender" value="M"/> Masculino   
						</label> 
						<label class="col-sm-3">
							<input type="radio" id="FRB" ng-checked='user.gender == "F"' ng-model="user.gender" name="gender" value="F" /> Femenino
						</label> 
					</div>
				</div>
			</div>
		</section>
	</form>
</div>