<link rel="stylesheet" type="text/css" href="css/nav.css">
<link href="css/submenu.css" rel="stylesheet">
<nav ng-app="navbar" class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Muffin</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="NavController as NavCtrl">
            <ul class="nav navbar-nav" >
              <li><img src="images/muffin.png" width='50px' heigth='50px'/></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu" ng-repeat="categoria in categorias">
                    <a tabindex="-1" ng-attr-href="search.html?x=&cat={{categoria.name}}">{{categoria.name}}</a>
                    <ul class="dropdown-menu">
                      <li><a ng-attr-href="search.html?x=&cat={{categoria.name}}&s={{subcategoria}}" ng-repeat="subcategoria in subcategorias[categoria.id]">{{subcategoria}}</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" action="search.html">
              <div class="input-group">
                <input type="text" class="form-control" name="x" placeholder="Buscar">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <span id="search_concept">{{seleccionada}}</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li class="dropdown-submenu" ng-repeat="categoria in categorias" >
                        <a tabindex="-1" href="" ng-click="selectedItem(categoria.name)">{{categoria.name}}</a>
                        <ul class="dropdown-menu">
                          <li ng-repeat="subcategoria in subcategorias[categoria.id]" >
                            <a href="" ng-click="selectedItem(categoria.name + ' - ' + subcategoria)">{{subcategoria}}</a>
                          </li>
                        </ul>
                      </li>
                </ul>
                </div>
                <input type="hidden" class="cat" name="cat" value="all" id="search_param" >      
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="carrito.html" class="nav-icon"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><span class="badge" style="vertical-align:top;margin-top:0px">10</span></a></li>
              <li><div class="headerDivider"></div></li>
              <li ng-show="isLoged()"><a href="cuenta.html" class="nav-icon"><span class="user-name">{{userName() | capitalize }}</span><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
              <li><div class="headerDivider"></div></li>
              <li ng-hide="isLoged()" class="text-center"><a href="login.html" class="nav-icon">Ingresar</a></li>
              <li><div class="headerDivider"></div></li>
              <li ng-show="isLoged()"> <a href="wishlist.html"class="nav-icon"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a></li>
              
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
	<br>
	<br>
  <br>