<!DOCTYPE html>
<html lang="en" ng-app="search">
  <head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>Busqueda</title>
        <link rel="icon" type="image/png" href="images/muffin.png">
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" type="text/css" href="css/search.css">
        <link rel="stylesheet" type="text/css" href="css/prod.css">
        <link rel="stylesheet" type="text/css" href="css/general.css">
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  </head>

  <body ng-controller="BusquedaController as DestacadosCtrl">

    <div ng-include="'nav.html'"></div>

    <div class="container-fluid">
      <div class="loading-block" ng-show="loading">
        <div class="loading-image" >
          <img id="mySpinner" src="http://i.stack.imgur.com/MnyxU.gif"  />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <div class="linea">
          <h4>Filtrado por:</h4>
          <ul class="nav nav-sidebar" id="filtrados">
            <!--<li class="filterApli"><h2 class="applied-fliter"> Hombre
                <a href="" rel="nofollow">
                  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </a>
                 </h2>
            </li>
            <li class="filterApli"><h2 class="applied-fliter"> Remeras
                <a href="" rel="nofollow">
                  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </a>
                 </h2>
            </li>
          -->
          </ul>
        </div>

        <div class="linea">
          <dl>
            <dt class="titulo">Talle</dt>
            <dd>
              <h5>
                <a href="">XS</a>
              </h5>
            </dd>

            <dd>
              <h5>
                <a href="">S</a>
              </h5>
            </dd>

            <dd>
              <h5>
                <a href="">L</a>
              </h5>
            </dd>

            <dd>
              <h5>
                <a href="">XL</a>
              </h5>
            </dd>
          </dl>
        </div>

        <div class="linea">
          <dl>
            <dt class="titulo">Marca</dt>
            <dd>
              <h5>
                <a href="">Kosiuko</a>
              </h5>
            </dd>

            <dd>
              <h5>
                <a href="">Lacoste</a>
              </h5>
            </dd>

            <dd>
              <h5>
                <a href="">Nike</a>
              </h5>
            </dd>

            <dd>
              <h5>
                <a href="">Levis</a>
              </h5>
            </dd>

            <dd>
              <h5>
                <a href="">Calvin Klein</a>
              </h5>
            </dd>

          </dl>
        </div>

        <div class="linea">
          <dl class="variation-filter" id="id_83000">
            <dt class="dt-title">Color Primario</dt>

            <dd>
              <a href="">
                <span class="box-color box_92025">
                  <span class="ch-hide">Negro
                  </span>
                </span>
              </a>
            </dd>

            <dd>
              <a href="">
                <span class="box-color box_92028">
                  <span class="ch-hide">Blanco</span>
                </span>
              </a>
            </dd>

            <dd>
              <a href="">
                <span class="box-color box_92027">
                  <span class="ch-hide">Gris</span>
                </span>
              </a>
            </dd>

            <dd>
              <a href="">
                <span class="box-color box_91993">
                  <span class="ch-hide">Rojo</span>
                </span>
              </a>
            </dd>

            <dd>
              <a href="">
                <span class="box-color box_91994">
                  <span class="ch-hide">Rosa</span>
                </span>
              </a>
            </dd>

            <dd>
              <a href="">
                <span class="box-color box_92013">
                  <span class="ch-hide">Azul</span>
                </span>
              </a>
            </dd>

            <dd>
              <a href="">
                <span class="box-color box_92002">
                  <span class="ch-hide">Crema</span>
                </span>
              </a>
            </dd>

            <dd>
              <a href="">
                <span class="box-color box_92021">
                  <span class="ch-hide">Fucsia</span>
                </span>
              </a>
            </dd>

            <dd>
              <a href="">
                <span class="box-color box_92000">
                  <span class="ch-hide">Marrón</span>
                </span>
              </a>
            </dd>

            <dd>
              <a href="">
                <span class="box-color box_91998">
                  <span class="ch-hide">Beige</span>
                </span>
              </a>
            </dd>

            <dd>
              <a href="">
                <span class="box-color box_92005">
                  <span class="ch-hide">Verde</span>
                </span>
              </a>
            </dd>

          </dl>
        </div>

        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <ol class="breadcrumb">
            <li><a href="index.html">Página Principal</a></li>
            <li class="active">Busqueda</li>
          </ol>

<!--
          <div class="barra">
          <div class="col-sm-1">
            <h4 class="letra">Cantidad:</h4>
          </div>

          <div class="col-sm-1">
            <select class="form-control cantidadDeOrdenamiento" >
              <option>8</option>
              <option>16</option>
              <option>24</option>
              <option>32</option>
              <option>40</option>
            </select>
          </div>
        </div>
-->

<div class="barra" >
  <div class="bloque pagi"><pagination  total-items="totalItems" ng-model="currentPage" items-per-page=8 num-pages="noOfPages" current-page="currentPage" max-size="maxSize" ng-change="changePage(currentPage)"></pagination></div>
  <div class="bloque cant">
    <h5>Cantidad:</h5>
    <select class="selector"ng-model="itemsPerPage" ng-change="changeItemsPerPage(itemsPerPage)" >
      <option value=8 >8</option>
      <option value=16>16</option>
      <option value=24>24</option>
      <option value=32>32</option>
    </select>
  </div>
</div>

        <div class"row" style="padding-right:100px;padding-left:100px" >

                      <div class="thumbnail col-sm-3" ng-repeat="prod in destacados">
                          <a ng-attr-href="{{'producto.html?id=' + prod.id}}"><img ng-attr-src="{{prod.imageUrl[0]}}" alt=""></a>
                          <div class="caption">

                              <h4><a ng-attr-href="{{'producto.html?id=' + prod.id}}">{{prod.name}}</a>
                              </h4>
                              <h4 class="pull-right">{{prod.price | currency}}</h4>
                              <p><strong>Marca: </strong>{{prod.attributes[0].values[0]}}</p> 
                          </div>
                          <div class="ratings">
                              <p class="pull-right">
                                  <span class="color-blue"></span>
                                  <span class="color-red"></span>
                              </p>
                              <p>Colores disponibles</p>
                          </div>
                      </div>
                  </div>
                  <div class="barra col-sm-12">
                    <div class="bloque pagi"><pagination  total-items="totalItems" ng-model="currentPage" items-per-page=8 num-pages="noOfPages" current-page="currentPage" max-size="maxSize" ng-change="changePage(currentPage)"></pagination></div>
                    <div class="bloque cant">
                      <h5>Cantidad:</h5>
                      <select class="selector " ng-model="itemsPerPage" ng-change="changeItemsPerPage(itemsPerPage)" >
                        <option selected value=8 >8</option>
                        <option value=16>16</option>
                        <option value=24>24</option>
                        <option value=32>32</option>
                      </select>
                    </div>
                  </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script src="js/ui-bootstrap-tpls-0.14.2.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>

        <script type="text/javascript" src="js/search.js"></script>
        <script type="text/javascript" src="js/nav.js"></script>

  </body>

  </html>
