<!DOCTYPE html>
<html lang="en" ng-app="search">
  <head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>Búsqueda</title>
        <link rel="icon" type="image/png" href="images/muffin.png">
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" type="text/css" href="css/search.css">
        <link rel="stylesheet" type="text/css" href="css/prod.css">
        <link rel="stylesheet" type="text/css" href="css/general.css">
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  </head>

  <body ng-controller="BusquedaController as DestacadosCtrl">

    <nav-bar></nav-bar>

    <div class="container-fluid">
      <div class="loading-block" ng-show="loading">
        <div class="loading-image" >
          <img id="mySpinner" src="http://i.stack.imgur.com/MnyxU.gif"  />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="leftSide">
          <div class="linea">
          <h4>Filtrado por:</h4>
          <ul class="nav nav-sidebar" id="filtrados">

          </ul>
        </div>




        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <ol id="breadcrumb" class="breadcrumb">
            <li class="active"><a href="">Busqueda</a></li>
          </ol>



<div class="barra" >
  <div class="bloque pagi"><pagination  total-items="totalItems" ng-model="currentPage" items-per-page=8 num-pages="noOfPages" current-page="currentPage" max-size="maxSize" ng-change="changePage(currentPage)"></pagination></div>
  <div class="bloque orderBy">
    <h5>Ordenar Por:</h5>
    <select class="selector" ng-model="order" ng-change="changeOrderBy(order)" >
      <option value=1>Ascendente por Marca</option>
      <option value=2>Descendente por Marca</option>
      <option value=3>Mayor Precio</option>
      <option value=4>Menor Precio</option>
      <option value=5>A-Z</option>
      <option value=6>Z-A</option>
    </select>
  </div>
  <div class="bloque cant">
    <h5>Cantidad:</h5>
    <select class="selector"ng-model="itemsPerPage" ng-change="changeItemsPerPage(itemsPerPage)" >
      <option value=8 >8</option>
      <option value=16>16</option>
      <option value=24>24</option>
      <option value=32>32</option>
    </select>
  </div>
</div>

        <div class"row" style="padding-right:100px;padding-left:100px" >
          <div class="col-sm-9" ng-show="noSearch">
            <h4>
              No se encontraron productos relacionados a la búsqueda
            </h4>
          </div>
                      <div class="thumbnail col-sm-3" ng-repeat="prod in destacados">
                          <a ng-attr-href="{{'producto.html?id=' + prod.id}}"><img ng-attr-src="{{prod.imageUrl[0]}}" fallback-src="{{this.src=prod.imageUrl[1]}}" alt=""></a>
                          <div class="caption">

                              <h4><a ng-attr-href="{{'producto.html?id=' + prod.id}}">{{prod.name}}</a>
                              </h4>

                              <p><strong>Marca: </strong>{{prod.attributes[0].values[0]}}</p>
                          </div>
                          <div class="ratings">
                              <h4 class="pull-right">{{prod.price | currency}}</h4>
                          </div>
                      </div>
                  </div>
                  <div class="barra col-sm-12">
                    <div class="bloque pagi"><pagination  total-items="totalItems" ng-model="currentPage" items-per-page=8 num-pages="noOfPages" current-page="currentPage" max-size="maxSize" ng-change="changePage(currentPage)"></pagination></div>
                    <div class="bloque orderBy">
                      <h5>Ordenar Por:</h5>
                      <select class="selector" ng-model="order" ng-change="changeOrderBy(order)" >
                        <option value=1>Ascendente por Marca</option>
                        <option value=2>Descendente por Marca</option>
                        <option value=3>Mayor Precio</option>
                        <option value=4>Menor Precio</option>
                        <option value=5>A-Z</option>
                        <option value=6>Z-A</option>
                      </select>
                    </div>
                    <div class="bloque cant">
                      <h5>Cantidad:</h5>
                      <select class="selector " ng-model="itemsPerPage" ng-change="changeItemsPerPage(itemsPerPage)" >
                        <option selected value=8 >8</option>
                        <option value=16>16</option>
                        <option value=24>24</option>
                        <option value=32>32</option>
                      </select>
                    </div>
                  </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" style="padding-right:0;padding-left:0">
    <custom-footer></custom-footer>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script src="js/ui-bootstrap-tpls-0.14.2.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>

        <script type="text/javascript" src="js/search.js"></script>
        <script type="text/javascript" src="js/nav.js"></script>
        <script type="text/javascript" src="js/footer.js"></script>

  </body>

  </html>
