<!DOCTYPE html>
<html ng-app="wishlist">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<title>Deseados</title>
	<link rel="stylesheet" type="text/css" href="css/general.css">
	<link rel="icon" type="image/png" href="images/muffin.png">
	<link rel="stylesheet" type="text/css" href="css/prod.css">
	<link href="css/wishlist.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="WishlistController as WishlistCtrl">
	<nav-bar></nav-bar>
	<div class="container">
		<div class="row header">
			<h3>Lista de Deseos</h3>
		</div>
		<br/>
		<div class="loading-block" ng-show="loading">
        	<div class="loading-image" >
          		<img id="mySpinner" src="http://i.stack.imgur.com/MnyxU.gif"  />
        	</div>
      	</div>
		<div class="row">
			<div class="col-sm-12 col-md-11" style="padding-top: 50px">
				  <h1 ng-show="emptyList" style="text-align:center"> No hay productos en la lista de Deseos</h1>
                  <table class="table table-hover" ng-show="!emptyList" ng-hide="loading">
                    <thead>
                      <tr>
						<th>Foto</th>
                        <th>Producto</th>
                        <th class="text-center">Precio</th>
                        <th class="text-right">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<!-- row 1 -->
                      	<tr ng-repeat="item in productos track by $index">
	                        <td class="col-sm-2">
	                         <span> <a class="thumbnail pull-left" href="#"> <img class="media-object" ng-attr-src="{{item.product.imageUrl}}" style="width: 72px; height: 72px;"> </a> </span>
							</td>
							<td align="center">
	                        	<h3 style="margin-top:0">{{item.product.name}}</h3>
	                     	</td>
		                    <td class="col-sm-1 col-md-1 text-center"><p id="price">{{item.price | currency}}</p></td>
	                      	<td class="col-sm-1 col-md-2" style="text-align: center">
	                      		<button type="button" class="btn btn-info">
		                         	<span class="glyphicon glyphicon-shopping-cart"></span> Agregar al carrito
		                        </button>
		                        <button type="button" class="btn btn-danger btn-rmv" ng-click="WishlistCtrl.remove(item.id,$index)">
		                         	<span class="glyphicon glyphicon-remove"></span> Eliminar
		                        </button>
	                        </td>
                    	</tr>
                    </tbody>
                  </table>
                </div>
		</div>
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="js/wishlist.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>

</body>