<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/general.css">
	<link rel="stylesheet" type="text/css" href="css/prod.css">
	<link href="css/wishlist.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row header">
			<h3>Lista de Deseos</h3>
		</div>
		<br/>
		<div class="row">
			<div class="col-sm-12 col-md-8 col-sm-offset-1" style="padding-top: 50px">
                  <table class="table table-hover">
                    <thead>
                      <tr>
						<th>Foto</th>
                        <th>Producto</th>
                        <th class="text-center">Precio</th>
                        <th class="text-right">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<!-- row 1 -->
                      	<tr>
	                        <td class="col-sm-2">
	                         <span> <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a> </span>
							</td>
							<td align="center">
	                        	<h3 style="margin-top:0">Remera linda</h3>
					 			<div class="row">
						 			<div id="talle">
			                         	<h4 class="col-sm-2">Talle</h4>
			                         	<!-- Single button -->
			                         	<div class="btn-group col-sm-2">
			                          		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			                            		Talle <span class="caret"></span>
			                          		</button>
			                          		<ul class="dropdown-menu" ng-controller="TalleController as Talle">
			                            		<li ng-repeat="talle in Talle.talles"> <a href="#"> {{ talle}} </a></li>
			                          		</ul>
			                        	</div>
			                        </div>
			                    	<div id="color">
		                        		<h4 class="col-sm-3">Color</h4>
		                    			<div class="btn-group col-sm-2" ng-controller="ColorController as Color">
		                      				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu1">
		                        				Color <span class="caret"></span>
		                      				</button>
		                      				<ul class="dropdown-menu" >
		                        				<li ng-repeat="color in Color.colores"><a href="#">{{color}}</a></li>
		                      				</ul>
		                    			</div>
		                    		</div>
								</div>
	                     	</td>
		                    <td class="col-sm-1 col-md-1 text-center"><p id="price">$4.87</p></td>
	                      	<td class="col-sm-1 col-md-2" style="text-align: center">
	                      		<button type="button" class="btn btn-info">
		                         	<span class="glyphicon glyphicon-shopping-cart"></span> Agregar
		                        </button>
		                        <button type="button" class="btn btn-danger btn-rmv">
		                         	<span class="glyphicon glyphicon-remove"></span> Eliminar
		                        </button>
	                        </td>
                    	</tr>
                    	<!-- row 2 -->
                    	<tr>
	                        <td class="col-sm-2">
	                         <span> <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a> </span>
							</td>
							<td align="center">
	                        	<h3 style="margin-top:0">Remera fea</h3>
					 			<div class="row">
						 			<div id="talle">
			                         	<h4 class="col-sm-2">Talle</h4>
			                         	<!-- Single button -->
			                         	<div class="btn-group col-sm-2">
			                          		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			                            		Talle <span class="caret"></span>
			                          		</button>
			                          		<ul class="dropdown-menu" ng-controller="TalleController as Talle">
			                            		<li ng-repeat="talle in Talle.talles"> <a href="#"> {{ talle}} </a></li>
			                          		</ul>
			                        	</div>
			                        </div>
			                    	<div id="color">
		                        		<h4 class="col-sm-3">Color</h4>
		                    			<div class="btn-group col-sm-2" ng-controller="ColorController as Color">
		                      				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu1">
		                        				Color <span class="caret"></span>
		                      				</button>
		                      				<ul class="dropdown-menu" >
		                        				<li ng-repeat="color in Color.colores"><a href="#">{{color}}</a></li>
		                      				</ul>
		                    			</div>
		                    		</div>
								</div>
	                     	</td>
		                    <td class="col-sm-1 col-md-1 text-center"><p id="price">$0.03</p></td>
	                      	<td class="col-sm-1 col-md-2" style="text-align: center">
	                      		<button type="button" class="btn btn-info">
		                         	<span class="glyphicon glyphicon-shopping-cart"></span> Agregar
		                        </button>
		                        <button type="button" class="btn btn-danger btn-rmv">
		                         	<span class="glyphicon glyphicon-remove"></span> Eliminar
		                        </button>
	                        </td>
                    	</tr>
                    </tbody>
                  </table>
                </div>
		</div>
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="application.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wishlist.js"></script>

</body>